.profile-border {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  padding: 6px;
  background: linear-gradient(
    135deg,
    #3b2f2f,
    #c6a87d
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background: #faf1e3;
}
